<!DOCTYPE html>
<html lang="pt" dir="ltr">
  <head>
    <meta charset="utf-8">
     <link rel="stylesheet" type="text/css" href="../static/css/reset.css">
     <link rel="stylesheet" type="text/css" href="../static/css/homeCSS.css">
    <title>Drawing Guesser</title>
    <link rel="icon" type="image/png" href="../static/images/pencil.png">
  </head>
  <body>
    <div class="navbar">
      <nav>
        <ul class="navList">
          <li class="navListItem"><a href='/'>Home</a></li>
          <li class="navListItem"><a href='/draw'>Desenhar</a></li>
        </ul>
      </nav>
    </div>
    <div class="body1">
      <h1 class="tituloPrincipal">Bem-Vindo ao Drawing Guesser</h1>
      <div class="startButton">
        <a class="startLink" href='/draw'>Clique aqui para desenhar!</a>
      </div>
    </div>

  </body>
</html>
