<!DOCTYPE html>
<html lang="pt" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../static/css/reset.css">
    <link rel="stylesheet" type="text/css" href="../static/css/homeCSS.css">
    <title>Resultados</title>
  </head>
  <body>
    <div class="navbar">
      <nav>
        <ul class="navList">
          <li class="navListItem"><a href='/'>Home</a></li>
          <li class="navListItem"><a href='/draw'>Desenhar</a></li>
        </ul>
      </nav>
    </div>
    <div class="resultadoBox">
      <h1 class='resultado'>O classificador classificou seu desenho como: {{resultado}}</h1>
    </div>

  </body>
</html>
